<!DOCTYPE html>
<html>
<head>
	<title>Coding Dojo Wall</title>
	<meta charset="utf-8">
</head>
<body>
	<form action="/createUser" method="post" >
		{%csrf_token%}
		<p>Your information</p>
		First Name: <input type="text" name="first">
		Last Name: <input type="text" name="last">
		Email: <input type="text" name="email">
		Password:<input type="text" name="password">
		<button type="submit">submit</button>
	</form>
</body>
</html>