<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{%if messages%}
		{%for message in messages%}
			{%if message.tags == 'error'%}
				<p style="color: red">{{message}}</p><br>
			{%endif%}
			{%if message.tags == 'success'%}
				<p style="color: green"> {{message}}</p><br>
			{%endif%}
		{%endfor%}
	{%endif%}
	<p> Register Here</p>
	<form action="/register"  method="post">
		<input type="text" name="f_name" placeholder="Enter Your first name"><br>
		<input type="text" name="l_name" placeholder="Enter Your last name"><br>
		<input type="text" name="email" placeholder="Enter Your email"><br>
		<input type="text" name="password" placeholder="Enter Your password"><br> 
		<input type="text" name="c_password" placeholder="Confirm your password"><br>
		<input type="submit" name="Register"><br>
	</form>

	<p> Log in Here</p>
	<form action="/login"  method="post">
		{%csrf_token%}
		<input type="text" name="email" placeholder="Enter Your email"><br>
		<input type="text" name="password" placeholder="Enter Your password"><br> 
		<input type="submit" name="LOGIN"><br>
	</form>
</body>
</html>