*{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
#wrapper{
	width: 970px;
	height: auto;
	margin: 0px auto;
	background: #005266;
}

#top{
	width: 100%;
	height: 65%;
	display: block;
	position: relative;
}
	#header {
		width: 100%;
		height: 12.5%;
		margin-bottom: 2%;
		display: block;
		text-align: left;
		position: relative;

	}
		#header img{
			width: 33%;
			height: 80%;
			position: relative;
			top:10px;
			left: 20px;
			display: inline-block;
		}
		#header p{
			width: 15%;
			display:inline-block;
			font-size: 0.8em;
			color:white;
			text-align: right;
			margin: 0px;
			position: absolute;
			top:5px;
			right:25px;
		}
		#header p span{
			text-decoration: underline;
			color: #ffe680;
		}
		#searchbox{
			width:30%;
			height: 50%;
			background:#383838;
			border-radius: 10px;
			position:absolute;
			right:10px;
			bottom:5px;
			padding-top: 15px;
			box-shadow: 1px 5px black;
		}
			#textfield{
				height: 75%;
				width: 60%;
				position: relative;
				bottom: 5px;
				color: grey;
				font-size: 0.8em;

			}
			#button{
				border-radius: 5px;
				background: #005266;
				position: relative;
				bottom: 3px;
			}
	#searchbar{
		width: 80%;
		height: 6.5%;
		background:#006680;
		display: block;
		margin-top:10px;
		margin-left: 10%;
		margin-bottom: 1%;
		border-radius: 10px;
		box-shadow: 1px 5px black;
		padding-right: 5%;

	}
		#searchbar h1{
			display: inline-block;
			margin-left:5%;
			color: white;
			font-size: 1.25em;

		}

	#infoblob{
		width:100%;
		display: block;
		position: relative;
	}
		#infoblob > ul{
			width: 30%;
			height:100%;
			display: inline-block;
			color:white;
			text-decoration: underline;
			margin-left: 0px;
			padding: 0px;
			vertical-align: top;
			
		}
			#infoblob > ul li {
				list-style-type: none;
				margin-bottom: 10px;
			}
		#history{	
			width:66%;
			height:100%;
			display: inline-block;
		}
			#signature{
				font-size:1.1em;
				color:white;

				
			}
			#flavortext{
				font-size:0.8em;
				color:white;
			}
			#history > ul{
				color:	#ffdb4d;
				list-style-type: none;
				font-size: 1.4em;
				font-style: italic;
			}
				#history >ul li {
					margin-bottom: 8px;
				}
	#description{
		background: white;
		display:block;
		width:100%;
		height:90%;
		position: relative;
	}
		#description ul{
			list-style-type: disc;
			color:black;
		}
			#description ul li{
				color:#66ccff;
				text-decoration: underline;
			}
.textbox{
	display: inline-block;
	width: 50%;
	height:100%;
	margin-top: 1%;
	border-top: 2px solid #006680;
}
		#box1{
			margin-left:-20px;
			vertical-align: top;

		}
		#box2{
			margin-right: -20px;
		}
	#footnote h3{
		position:relative;
		top:10px;
		color: #006680;
	}
		#footnote h3 span{
			margin-left:5%;
			margin-right:5%;
		}

		#footnote h6{
			color: #006680;
			font-size: 0.7em;
			text-align:center;
		}