<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{%for message in messages%}
		{{message}}<br>
	{%endfor%}
	<form action="/registration" method="post">
		{%csrf_token%}
		Name :<input type="text" name="name"><br>
		Alias:<input type="text" name="alias"><br>
		Email:<input type="text" name="email"><br>	
		Password:<input type="text" name="password"><br>	
		Conform PW: <input type="text" name="c_password"><br>
		<input type="submit" name="submit" value="Register">
	</form action="/login" method='post'><br>
	
	<form action="/login" method="post">
		{%csrf_token%}
		Email:<input type="text" name="email"><br>
		Password:<input type="text" name="password"><br>
		<input type="submit" name="submit" value="login"><br>
	</form>
</body>
</html>