<!DOCTYPE html>
<html>
<head>
	<title> form page</title>
	<meta charset="utf-8">
</head>
<body>
	<div id="wrapper">
		<h1>Submitted Info</h1>
		<p>Name: {{name}}</p>
		<p>Location: {{location}}</p>
		<p>Language: {{language}}</p>
		<p>comment: {{comment}}</p>
	</div>
</body>
</html>