<!DOCTYPE html>
<html>
<head>
	<title> root page for this assignment</title>
	<link rel="stylesheet" type="text/css" href="/static/root.css?q=1280549780"> 
</head>
<body>
	<div id="wrapper">
	{% with messages = get_flashed_messages() %}
   		 {% if messages %}
      		{% for message in messages %}
        		<p>{{message}}</p>
      		{% endfor %}
    	 {% endif %}
  	{% endwith %}
		<form action="/user" method="post" id="post">
			<p>Your Name</p> : <input type="text" name="name">
			<p>Dojo Location</p>
			<select name="location">
				<option value="Seattle"> Seattle</option>
				<option value='San Jose'> San Jose</option>
				<option value="Dallas"> Dallas</option>
			</select>

  		
  			<p>Favorite Language</p>
  			<select name="language">
				<option value="Python"> Python</option>
				<option value='JavaScript'> JavaScript</option>
				<option value="C++"> C++</option>
			</select>
  			<p>Comment(optional)</p>
  			<textarea name="comment"></textarea>
	  		<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>