*{
	padding: 0;
	margin: 0;
	border: 0;
}
#wrapper{
	width: 960px;
	height: auto;
	margin: 0px auto;
	background: linear-gradient(#3F76B4,#214370,#1E4472)
}
.circle{
	width:10px;
	height: 10px;
	background-color: white;
	border-radius:100%;
	display: inline-block;
	margin: 2px;
	position: relative;
	top:2px;
}
.newbox{
	width: 32.5%;
	height:60%;
	display: inline-block;
	background-color: white;
	border:1px solid #9FA6B3;
}

	#top{
		width: 100%;
		height:30%;
		display: block;
		position: relative;
		background: linear-gradient(#F0EFEB,#E1DED9,#b6b7ba)
	}
		#top img{
			width:15%;
			display: inline-block;
			margin-left: 5%;
			margin-bottom: 1%;
			margin-right:25%;
		}
		#top >h3{
			width:10%;
			height: 10%;
			color:white;
			background: #49689B;
			text-align: left;
			border-radius: 10px 0px 0px 10px;
			display: inline-block;
			margin-right: 10%;
			vertical-align: top;
			position: relative;
			top: 10px;

		}
		#top input{
			width:25%;
			height: 20px;
			border-radius:5px;
			display: inline-block;
			vertical-align: top;
			position: relative;
			top:10px;
		}
		 #top #search_icon{
			width:3%;
			display: inline-block;
			float:right;
			margin:0%;
			position: relative;
			top:6px;
			right:40px;
		}
		#top > div{
			display: block
			height:10%;
			width: 100%;
			text-align: right;
		}
			#top > div h2{
				font-size: 1em;
				padding-left: 10px;
				padding-right: 10px;
				display: inline-block;
				border-right: 1px solid black;
				margin: 3px;
			}
	#bottom{
		width: 100%;
		height: 70%;
		display: block;
		position: relative;
	}
		#bottom #inputfields{
			width: 25%;
			height:60%;
			display: inline-block;
			margin-top: 2%;	
		}
			#inputfields div{
				width:80%;
				height:80%;
				margin-left:5%;
				margin-right:5%;
				padding-left: 10px;
			}
				#user #title{
					width: 100%;
					background: blue;
					position: relative;
					left:-19px;
				}
				#title > h3 {
					display: block;
					font-size: 1em;
					font-weight: bold;
					color:white;
				}	
				#title > p{
					display: block;
					color: white;
					}
			#inputfields #user{
				background: grey;
				border-top:0px;
				border: 1px solid white;

			}
			#inputfields > input{
				display: block;
				width: 80%;
				margin: 2% 3% 4% 3%;
				border: 1px solid white;
				background: blue;
				color:white;
				text-align: center;
				padding: 10px;
				position: relative;
				left:2%;
			}
				
				#user > h4 {
					margin: 2% 0% 2% 0%;
				}
				#user > input{
					border-radius:10px;
				}
				#user  a{
					text-decoration: none;
					margin-top: 1%;
				}
				#user > label input {
					text-align: center;
					color:white;
					background: black;
					border-radius: 10px;
					padding: 2% 2% 2% 2%;
					margin: 4%;
				}
		#flavorphoto{
			width: 70%;
			height: 272px;
			display: inline-block;
			background:#3676BE;
			position: relative;
			vertical-align: top;
		}
			#flavorphoto img{
				height: 100%;
				width: 50%;
				float:left;
				position: relative;
				display: inline-block;
			}
			#flavorphoto > #circle-box{
				height:6.59%;
				width: 6%;
				opacity: 80%;
				background-color: grey;
				position: relative;
				display: inline-block;
				position: relative;
				bottom:-243px;
				border-radius: 0px 5px 5px 0px;
			}
				#circle-box #bluecircle{
					background-color: blue;
				}
		#bottom #footer{
			width: 100%;
			height: 40%;
			display: block;
			margin-top: 2%;
		}
			#footer a{
				text-decoration: none;
			}
			#footer span{
				color: black;
			}
			#footer > a {
				width: 100%;
				height: 10%;
				background-color: #D7DAE3;
				text-indent: 10px;
				display: block;
				padding-bottom: 5px;
				padding-top: 5px;
				margin-bottom: 10px

			}
			#footer > .newbox img {
				display: inline-block;
				margin: 1%
			}
			#footer > .newbox div {
				width: 70%;
				display: inline-block;
				vertical-align: top;
				text-align: left;
				float right;
			}
			#footer #help {
				display: block;
				width: 100%;
				height: 10%;
				background-color: #E0D9D0;
				margin-top: 2%;
			}
				#footer > div h4 {
					display: inline-block;
					border-right: 1px solid black;
					padding-left:5px;
					padding-right: 5px;
				}
					#help #space{
						padding-right: 12%;
					}

					#footer > div span {
						color: blue;
					}





