<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1> Guess a number between 0 and 100</h1>
<p>{{result}}</p>
<form action="/usr" method="post">
	<input type="text" name="value">
	<button type="submit">submit</button>
</form>
</body>
</html>