#wrapper{
	width: 500px;
	height: 500px;
	margin : 0px auto;
	border: 1px solid black;
}
	#wrapper > form {
		width: 100%;
		margin: 0px;
		display: inline-block;	
	}
			#wrapper form label{
			width: 100%;
			height: auto;
			margin-bottom: 5px;
			display:block;
		}