#wrapper{
	height: 900px;
	width : 700px;
	border-style: solid;
	border-color:blue;
	border-width: 5px;
	background: white;
	margin: 0px auto;
	position:relative;
	}

#left{
	height: 100%;
	width: 33%;
	background-color: transparent;
	float: left;
}
#roundbox{
	height: 120px;
	width: 200px;
	background-color:white;
	border-style: solid;
	border-color:purple;
	border-radius: 15px;
	margin-top: 40px;
	margin-left: 15px;
	display:block;
}

#squarebox{
	height:350px;
	width:200px;
	background-color:white;
	border-style: solid;
	border-color: green;
	margin-top:10px;
	margin-left:15px;
	display:block;
}

#right{
	height: 100%;
	width: 67%;
	background-color: transparent;
	float: right;
}
#mainheader{
	height:120px;
	width: 100%;
	background-color: transparent;
	margin-top:40px;
	padding-top:10px;
	display: block;
}

#subbox1{
	height: 35px;
	width: 70%;
	border-style: solid;
	border-color: purple;
	border-width: 4px;
	background-color: white;
	display: block;
	margin-top:5px;
}
#subbox2{
	height: 15px;
	width: 50%;
	border-style: solid;
	border-color: purple;
	border-width: 4px;
	background-color: white;
	display: block;
	margin-top:5px;
	margin-bottom: 10px;
}
.subbox3{
	height:15px;
	width: 14%;
	border-style: solid;
	border-color: green;
	border-width: 4px;
	background-color: white;
	display: inline-block;
	margin-top:5px;
}

#maincontent{
	height: 70%;
	border: 5px solid red;
	background: white;
	margin-top: 0px;
	display: block;
	position:relative;
	margin-right:10px;
}
#invisiblebox{
	height:50%;
	width:50%;
	background: white;
	border-top: 5px solid red;
	border-left: 5px solid red;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
	position:absolute;
	bottom:-5px;
	right:-5px;
}
#footnote{
	height: 15px;
	border-style: solid;
	border-color: orange;
	border-width: 4px;
	background-color: white;
	display: block;
	margin-top:10px;
	margin-right:10px;

}