*{
	padding: 0;
	margin:0;
	border:0;
	font-family: 'Roboto', sans-serif;
}
#wrapper{
	width: 960px; 
	height: auto ;
	margin: 0px auto;
	position:relative;
	background: linear-gradient(grey,white,white,white);
}
	#top{
		width: 100%;
		height: 12.5%;
		background: white;
		display: block;
	}
		#top #label{
			float left;
			display: block;
		}
			#top img{
				width:10%;
				display: inline-block;
				position: relative;
				bottom: -20px;
			}
			#top p{
				display: inline-block;
				font-size:3em;
				margin-top:4%;
				vertical-align: top;
			}
				#top p span{
					color: #007cc9;
				}
		#top div{
			width: 100%;
			height: 50%;
			background: linear-gradient(#007cc9,#a3b9c6,#007cc9);
			padding-top: 1%;
			padding-bottom: 1%;
		}
			#top div h1{
				color: white;
				margin-left:3%;
				text-align: left;
			}
	#left{
		width: 25%;
		height: 87.5%;
		display: inline-block;
		background: transparent;
		float right;
		vertical-align: top;
		position: relative;
		margin-right: 5%;
	}	
		#left span{
			color :#007cc9;
		}
		#left #topleft{
			width: 100%;
			height: 20%;
			display: block;
		}
			#left #topleft > h2 {
				width: 100%;
				height:20%;
				font-weight: bold;
				color:white;
				text-align: center;
				margin-bottom: 1%;
				border-radius: 10px;
				padding-bottom: 1.5%;
				box-shadow: 1px 1px #32393d;

			}
			#box1{
				background: linear-gradient(#a3b9c6,#007cc9)
			}
			#box2{
				background: linear-gradient(#f2b36f,#f28a1a,#ff8400)
			}
			#left #topleft >h3{
				font-weight: bold;
				margin-top:5%;
				margin-bottom: 5%;
				display: block;
			}
			#left #topleft > p{
				font-weight: bold;
				margin-bottom: 5%;
			}
		#left #bottomleft{
			width: 100%;
			height: 50%;
			margin-top:15%;
			border-top:1px solid grey;
			position: relative;
		}

			#bottomleft > h2{
				color: white;
				text-align: center;
				font-weight: bold;
				margin-top: 15%;
				margin-right:10%;
				margin-left: 10%;
				display: block;
				position: relative;
			}
			#background{
				width: 102%;
				height:120%;
				position:absolute;
				top:10%;

			}
			#ninja {
				width:30%;
				display:block;
				position: relative;
				left:30%

			}

			#bottomleft >h3 {
				color: white;
				height:15%;
				width:75%;
				background: linear-gradient(#d3f3ff,#9be4ff,#6fd3f7);
				text-align: center;
				display: block;
				margin-left: 10%;
				margin-top:10%;
				position: relative;

			}


	#right{
		width: 69%;
		height: 87.5%;
		display: inline-block;
		float left;
		position: relative;
	}	
		#right span{
			color: #9be4ff;
		}
		#rightop{
			width:100%;
			height: 15%;
			display: block;
			margin-bottom: 5%;
		}
		#rightop label > img{
			width:5%;
			display: inline-block;

		}
		#info{
			display: inline-block;
			font-size: 0.8em;
			float:right;
			text-align: center;
			list-style: none;
			
		}
			#info li{
				margin-bottom: 1%;
			}
				#phone{
					font-size: 2em;
					color:#9be4ff;
				}
		#rightop >img {
			width:5%;
			display: inline-block;
			float:right;
			margin-top: 2%;
		}
		#rightmid {
			width:100%;
			height:70%;
			border-top:1px solid grey;
		}
			#rightmid> h2{
				color: #007cc9;
			}
			#rightmid > ul{
				margin-left:5%;
				display: block;
			}
			#rightmid img{
				width:60%;
				margin-left:20%;
				
			}
			#rightmid ol{
				margin-left: 5%;
			}
		#rightbottom{
			width:100%;
			height:30%;
			border-top:4px solid #007cc9;
			border-left:4px solid #007cc9;
			border-right:4px solid #007cc9;
		}		
			#rightbottom img{
				width:20%;
				display: inline-block;
			}
			#rightbottom div {
				width: 70%;
				display: inline-block;
			}
				#rightbottom div h2{
					margin-top:1%;
					margin-bottom:1%;
					color: #007cc9;
					display: block;
					vertical-align: top;

			}
				
				